// This file is used as part of the bootstrap-sass-loader customization
// Compare this to main.scss (no underscore) which is loaded by itself
// ## Baseline
.container-fluid {
  padding: 0;
  #main {
    background-color: #f5f5f5;
  }
}
//task list column
.list-header {
  height: 40px;
  // display: flex;
  .btn {
    margin-top: 5px;
    margin-left: 10px;
  }
  .dropdown-menu {
    margin-top: -8px;
  }
  &.labels {
    display: flex;
    color: #777;
    font-family: Roboto, Helvetica, Arial;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    background-color: #f5f5f5;
    > * {
      border-right: 1px solid #ccc;
      padding-left: 15px;
    }
    .tasks {
      width: 100%;
    }
    .status {
      min-width: 100px;
    }
    .summary {
      padding-left: 25px;
      min-width: 148px;
    }
  }
}
.task-list, .recycle-task-list {
  background-color: #868992;
  .list-group-item {
    //reset TB list styles
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    //styles from midaxo
    border-top: 1px solid #ccc;
    min-height: 35px;
    height: 37px;
    background-color: #f5f5f5;
    padding-top: 3px;
    color: #5a5a5a;
    // make 'columns' -> action icons and summary will be at same position always
    display: flex;
    justify-content: flex-end;
    &.new-task {
      display: none;
      justify-content: flex-start;
      form {
        display: inline-block;
      }
      &.visible {
        display: flex;
      }
    }
    //hide all forms at start
    form {
      display: none;
      &.visible {
        display: inline-block;
      }
      input {
        font-size: 12px;
        color: #5b5b5b;
        border: 1px solid #999;
        // margin-top: 2px;
        box-shadow: 0 1px 0 white;
        width: 100%;

        background-color: #ffffff;
        text-indent: 5px;

        height: 30px;
        line-height: 30px;
        padding: 0 0 0 5px;
      }
    }
    div.name {
      width: 100%;
      margin-top: 5px;
      // icon
      i.expand {
        width: 15px;
        // height: 35px;
        margin-left: 5px;
        margin-right: 3px;
        cursor: pointer;
        background: transparent;
        position: relative;
        line-height: 10px;
        color: #333;
        &.inactive {
          color: #dadada;
        }
      }
      span.dnd-space {
        width: 15px;
        background-image: none;
        cursor: move;
        display: inline-block;
        vertical-align: middle;
        background-position: 0px -6px;
        background-repeat: no-repeat;
        height: 27px;
      }
      a {
        color: #5a5a5a;
        display: none;
        &.visible {
          display: inline-block;
        }
        &.active {
          color: #ff8f00;
        }
        &.title {
          font-size: 13px;
          font-weight: 700;
          font-family: Roboto, Helvetica, Arial;
          vertical-align: middle;
          // below are used to hide too long texts
          overflow: hidden;
          height: 20px;
          max-width: 80%;
          margin-top: 3px;
        }
      }
      form {
        min-width: 80%;
        margin-top: -3px;
      }
    }
    div.actions {
      min-width: 100px;
      margin-top: 2px;
      > span i {
        // line-height: 20px;
        font-size: 20px;
        color: #333;
        margin: 0px 2px 0 2px;
        cursor: pointer;
        &.fa-minus-circle:hover {
          color: #F01D1D;
        }
        &.fa-plus:hover {
          color: #80BB19;
        }
        &.fa-pencil:hover {
          color: #ff8f00;
        }
        //status
        &.dropdown-toggle {
          display: none;
          font-size: 12px;
          vertical-align: 2px;
        }
      }
      span.status {
        cursor: pointer;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 20px;
        margin-left: 5px;
        &:before {
          position: absolute;
          color: white;
          font-size: 10px;
          width: inherit;
          text-align: center;
        }
        &.not-started {
          background-color: #D5D5D5;
        }
        &.in-progress {
          background-color: #FFAB59;
          &:before {
            content: 'iP';
          }
        }
        &.completed {
          background-color: #6ED35D;
          &:before {
            content: '\221A';
          }
        }
        &.delayed {
          background-color: #FF5945;
          &:before {
            content: 'D';
          }
        }
        &.postponed {
          background-color: #A864E7;
          &:before {
            content: 'P';
          }
        }
        &.ignored {
          background-position: -2px;
          background-image: url('assets/images/icons/dot_medium_ignored.png');
        }
        &.flag {
          border-radius: 0;
          background-image: url('assets/images/icons/icon_flag_on.png');
        }
      }
      //TB dropdown-menu
      ul.statuses {
        li a span {
          vertical-align: middle;
        }
      }
    }
    .summary {
      span {
        width: 100px;
        // height: 19px;
        display: none;
        border: 1px dashed #bbb;
        height: 28px;
        margin: 2px 20px 0;
        font-size: 11px;
        padding-left: 2px;
        overflow: hidden;
        vertical-align: middle;
        &.visible {
          display: inline-block;
        }
      }
      form {
        width: 100px;
        margin: 2px 20px 0;
      }
    }
    &:hover {
      .name span.dnd-space {
        background-image: url('assets/images/icons/drag-drop-icon.png');
      }
      div.actions > span i.dropdown-toggle {
        display: inline-block;
      }
    }
  }
  //list of sub-tasks
  .list-group {
    display: none;
    margin: 0;
    margin-left: 10px;
    &.opened {
      display: block;
    }
  }
}
// tasks moved to recycle bin "task" list
.recycle-task-list {
  .list-group-item {
    background-color: #f2dede;
    border-color: #ebccd1;
    &.recycle-bin {
      div.actions {
        min-width: 240px; //no summary, push it to the right
        a i.trash {
          display: inline-block;
          width: 16px;
          height: 18px;
          background-image: url('assets/images/icons/trash_can.png');
          background-position: 0px -18px;
        }
      }
      &:hover {
        .name span.dnd-space {
          background-image: none;
        }
        div.actions a i.trash {
          background-position: 0px 0px;
        }
      }

    }
  }
}

//hide all forms at start
form {
  display: none;
  margin-bottom: 0;
  &.visible {
    display: inline-block;
  }
  input, textarea {
    font-size: 12px;
    color: #5b5b5b;
    border: 1px solid #999;
    // margin-top: 2px;
    box-shadow: 0 1px 0 white;
    width: 100%;

    background-color: #ffffff;


    height: 30px;

    padding: 0 0 0 5px;
  }
  textarea {
    min-height: 260px;
  }
  input {
    text-indent: 5px;
    line-height: 30px;
  }
}
pre {
  background-color: #fff;
  border: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  font-family: Roboto, Helvetica, Arial;
}

//TB ul/li .nav.nav-tabs
ul.nav.nav-tabs {
  display: flex;
  border: 0;
  li {
    border: 0;
    float: none;
    display: block;
    cursor: pointer;
    height: 39px;
    text-align: center;
    line-height: 40px;
    // font-family: 'Roboto Condensed'; Missing
    font-family: Roboto, Helvetica, Arial;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding: 0 7px;
    overflow: hidden; //TEMP: make some better break-points
    a {
      border: 0;
      color: #676767;
      line-height: 40px;
      padding: 0;
      font-size: 13px;
      display: inline-block;
      &:hover {
        border: 0;
        background-color: transparent;
      }
    }
    .tab-number {
      font-weight: 500;
      font-size: 11px;
      padding: 0 5px 1px 5px;
      border-radius: 10px;
      text-shadow: none;
      background-color: #4DC343;
      color: white;
    }
    &.active {
      a {
        color: #ff8f00;
        border: 0;
        background-color: transparent;
      }
      height: 40px;
      &:before {
        content: ' ';
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #B5B5B5;
        bottom: 0;
        left: 31px;
      }
      &:after {
        content: ' ';
        position: absolute;
        border-width: 7px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: white;
        bottom: 0;
        left: 32px;
      }
    }
  }
}
.tab-content {
  border: 1px solid #ccc;
  min-height: 280px;
  background-color: #fff;
  .tab-pane {
    padding-top: 10px;
    section {
      &:first-child {
        margin-top: 10px;
      }
      > * {
        padding: 0 10px;
      }
      h4.grey {
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .btn {
          margin-top: -4px;
        }
      }
      .form-container {
        padding: 10px;
        form {
          width: 100%;
        }
      }
    }
  }
}

//base typo
h4 {
  // font-family: 'Roboto Condensed'; missing
  font-family: Roboto, Helvetica, Arial;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  line-height: 23px;
  &.grey {
    color: #999;
  }
}
.btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: none;
  color: #555;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2px 10px 2px 10px;
  height: 30px;
  line-height: 28px;
  border-radius: 5px;
  background: #eee;
  border: none;
  box-shadow: none;
  transition: background 0.2s ease, color 0.2s ease;
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  -moz-transition: background 0.2s ease, color 0.2s ease;
  -ms-transition: background 0.2s ease, color 0.2s ease;

  &.left-radius {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &.right-radius {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &.save {
    background: #84CA4D;
    color: white;
  }

  &.highlight-add {
    background: #63EC75;
    box-shadow: 0 5px 10px #e0e0e0;
    height: 26px;
    padding: 0 10px;
    font-size: 12px;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #E0E0E0;
    color: #00B5FF;
    &.edit {
      color: #fff;
      background-color: #F9992C;
    }
    &.save {
      color: #fff;
      background-color: #66BD22;
    }
  }
}

//Schedule Tab - gantt list
#schedule {
  padding-top: 0;
  overflow: auto;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
.list-header.gantt {
  // display: flex;
  height: 100%;
  position: relative;
  // clear: both;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  .year {
    background-color: #EFF3F4;
    float: left;
    .months {
      display: flex;
      color: #5A5A5A;
      font-size: 13px;
      font-weight: 700;
      .month {
        font-size: 10px;
        width: 37px;
        // height: 37px;
        height: 21px;
        text-align: center;
        border-right: 1px solid #ccc;
      }
    }
  }
}
.gantt-months {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 40px;
  display: flex;
  z-index: 1;
  .gantt-month {
    /* float: left; */
    /* display: table-cell; */
    display: flex;
    // height: 37px;
    height: 100%;
    width: 37px;
    border-right: 1px solid #ccc;
    // display: inline;
    // float: left;
    // &:hover {
    //  display: flex;
    // }
    // justify-content: flex-start;
    .gantt-day {
      height: 100%;
      min-width: 1px;
      flex-grow: 1; //thanks of that, span will have REAL 1.XYZ px width and will be clickable
      display: inline-flex;
      &.current {
        background-color: red;
      }
    }
  }
}
.gantt-list {
  margin-bottom: 20px;
  // display: flex;
  position: relative;
  // margin-top: 40px;
  float: left;
  z-index: 2;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  .gantt-row {
    border-top: 1px solid #ccc;
    min-height: 35px;
    height: 37px;
    color: #5a5a5a;
    // display: flex;
    // justify-content: flex-end;
    width: 1332px; //temp
    position: relative;
    .bar {
      background-color: #cdcdcd;
      border-top: 1px solid #878787;
      border-left: 3px solid #878787;
      border-right: 3px solid #878787;
      border-bottom: 1px solid #878787;
      padding-top: 5px;
      display: flex;
      height: 28px;
      position: absolute;
      span {
        font-weight: bold;
        color: black;
        min-width: 80px;
        font-size: 12px;
        margin-left: 5px;
      }
    }
    .due-date-over {
      border-color: #ffae3e;
      width: 5px;
      top: 4px;
      left: 0;
    }
    .due-new {
      background-color: #ffae3e;
      width: 0px;
      top: 4px;
      left: 0;
    }
    .due-dates {
      // background-color: green;
      width: 0px;
      top: 4px;
      left: 0;
      display: flex;
      justify-content: space-between;
    }
    .out-of-range {
      background-color: rgba(204, 204, 204, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 300px;
      padding-top: 4px;
    }
  }
}
